*{
    border: 1px solid red;
}
body{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

nav{
    flex-basis: 20vw;

}

header{
    min-height:20vh;

}

main{
    display: flex;

}

article{
    flex-basis: 75%;
    min-height: 60vh;
}

aside{
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
}

footer{
    min-height:20vh;
}

.col-2{
    flex-basis: 100%;
}