*{
    box-sizing: border-box;
}

body{
    font-family: Tahoma, serif;
    display: flex;
    flex-direction: column;
    background-color: #f2f3d9;
    min-height: 100vh;
    margin:0;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #030027;
    color: white;
    justify-content: space-between;
}

.title{
    flex-basis: 10%;
    text-align: center;
}

.nav-items{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-basis: 25%;
    justify-content: flex-end;
    padding-right: 40px;

}


.top-text{
    align-items: flex-start;
    text-align: center;
}

.block-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

section{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    padding-top:40px;
}

.block{
    border-radius: 15px;
    display: flex;
    flex-grow:1;
    background-color: #C16E70;
    max-width: 280px;
    height: 350px;
    align-items: flex-end;
    text-align: center;
}
